---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*',
  -clang-analyzer-security.FloatLoopCounter,
  -clang-analyzer-security.insecureAPI.rand,
  bugprone-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -bugprone-integer-division,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  misc-*,
  -misc-header-include-cycle,
  -misc-include-cleaner,
  performance-*
WarningsAsErrors: '*'
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
HeaderFilterRegex: '.*'
FormatStyle:     none
SystemHeaders:   false
...

